body {
    background-color: rgb(43, 69, 87);
}

button {
    padding: 5px;
    border-radius: 5px;
    border-color: darkcyan;
    background-color: cyan;
    margin: 5px
}

.controlPanel, footer {
    /* position: fixed; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    padding: 5px;
}

.controlPanel {
    margin-bottom: 10px;
    top: 0;
}

footer {
    margin-top: 10px;
    bottom: 0;
}

.gameWindow {
    position: relative;
    background-color: aqua;
    height: 800px;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5%;
}

.tile {
    position: absolute;
    background-color: darkcyan;
    aspect-ratio: 1;
    border-radius: 25%;
}

.tile:hover {
    background-color: rgb(1, 92, 92);
}