.controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameWindow {
    position: relative;
    background-color: aqua;
    height: 800px;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5%;
}

.tile {
    position: absolute;
    background-color: darkcyan;
    aspect-ratio: 1;
    border-radius: 25%;
}

.tile:hover {
    background-color: rgb(1, 92, 92);
}